@page "/booking/customer/holiday-bookings"
@using Gotorz.Client.Components
@using Gotorz.Shared.DTOs
@using Gotorz.Shared.Enums;
@using Gotorz.Client.Services
@using Microsoft.AspNetCore.Authorization
@using System.Reflection
@using System.ComponentModel.DataAnnotations
@inject IUserService UserService
@inject IBookingService BookingService
@inject ILogger<CustomerHolidayBookings> Logger
@inject NavigationManager Navigation


<AuthorizeView>
    <Authorized Context="auth">
        @if (!isAuthorizedUser)
        {
          <PageTitle>Page not found</PageTitle>
          <p>Page not found.</p>
        }
        else if (holidayBookings == null)
        {
          <p>Loading...</p>
        }
        else
        {
          <PageTitle>Holiday Bookings</PageTitle>
          <div class="container d-flex flex-column standard-page-wrapper ">
            <h3>Holiday Bookings</h3>
            <br>
            @foreach (HolidayBookingDto holidayBooking in holidayBookings)
            {
                <div class="p-3 border rounded bg-white shadow">
                    <HolidayBooking BookingReference="@holidayBooking.BookingReference" />
                </div>
                <br><br><br>
            }
          </div>
        }
    </Authorized>
    <NotAuthorized>
        <div class="mt-5 standard-page-wrapper">
            <Login/>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    private bool isAuthorizedUser;
    private IEnumerable<HolidayBookingDto> holidayBookings;

    [Parameter]
    [SupplyParameterFromQuery]
    public string? UserId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrWhiteSpace(UserId))
            {
                var currentUser = await UserService.GetCurrentUserAsync();
                UserId = currentUser.UserId;
            }

            holidayBookings = await BookingService.GetCustomerHolidayBookingsAsync(UserId);

            if (holidayBookings == null) return;

            isAuthorizedUser = ((await UserService.IsUserInRoleAsync("customer")) &&
                holidayBookings.First().Customer.UserId == UserId) ||
                await UserService.IsUserInRoleAsync("admin");
        }
        catch (Exception ex)
        {
            Logger.LogError(ex, "Error initializing customer's holiday bookings");
        }
    }
}